<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tsinghua" value="https://mirrors.tuna.tsinghua.edu.cn/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Tsinghua">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="dependencyVersion" value="Highest" />
    <add key="globalPackagesFolder" value="..\.nuget\packages" />
    <add key="http_proxy" value="" />
    <add key="https_proxy" value="" />
  </config>
  <fallbackPackageFolders>
    <add key="GlobalPackages" value="%USERPROFILE%\.nuget\packages" />
  </fallbackPackageFolders>
</configuration>